<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true">
    <testsuites>
        <!--<testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>-->

        <testsuite name="Modelos">
            <file>tests/app/models/ClienteTest.php</file>
            <!-- <file>tests/app/models/PedidoTest.php</file>-->
         </testsuite>
     </testsuites>
 </phpunit>
